@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --info: #0DCAF0;
    --dark-info: #17A2B8;
    --main-color: #24353F;
    --white-color: #f1f1f1;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Encode Sans Expanded", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}

.form-container {
    width: min(600px, 90%);
}

.form-control {
    color: #f1f1f1ee !important;
    border-color: #f1f1f150;
}

.form-control:focus {
    box-shadow: none;
    border-color: #f1f1f1ee;
}

.form-control::placeholder {
    color: #f1f1f180;
    font-weight: 300;
    font-size: 15px;
}

.link {
    color: #f1f1f1cc;
}

.link a {
    color: var(--dark-info);
    text-decoration: none;
}

.link a:hover {
    color: var(--info);
    text-decoration: underline;
}